@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<body class="imglog">
    <div class="login">
    <div class="login-triangle"></div>
    <section>
    <h2 class="login-header">¿Olvidaste tu contraseña?</h2>

        <div class="login-container">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-lg text-white color-btn">Restablecer contraseña</button>
            </form>

        </div>
    </section>
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
